#bg {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -999;
    object-fit: cover;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}

#master-container {
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#video-controls {
    position: relative;
    bottom: 2em;
}



/* CLASSES */
.scroller {
	scrollbar-color: #00000084 #ffffff64;
	scrollbar-width: thin;
}

.volume-control-positioner {
    position: absolute;
    bottom: 2em;
    right: 50%;
    left: 50%;
}

.icon-style {
    width: 2em;
    height: auto;
}

.viewer {
    max-width: 60em;
}



/* Other message text colors */
.errorTxt   { color: rgb(170, 18, 18); }
.warningTxt { color: rgb(255, 168, 0); }
.successTxt { color: rgb(136, 204, 39); }
