ul, li {
    list-style: none;
}

/* Vertical slider */
input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}



#video-container::-webkit-media-controls {
  display: none !important;
}

#video-container::-webkit-media-controls-enclosure {
  display: none !important;
}




.modal-content {
    background-color: #32383e74;
    border-color: #f8940674;
}

.sticky-top,
.card {
    background-color: rgba(50, 56, 62, 0.84);
}

.label-as-badge {
    border-radius: 1em;
    cursor: pointer;
}
