{% extends "layout.html" %}

{% block header_meta_additional %}
{% endblock header_meta_additional %}

{% block header_css_additional %}
{% endblock header_css_additional %}

{% block header_scripts_additional %}
{% endblock header_scripts_additional %}


{% block body_header_additional %}
{% endblock body_header_additional %}

{% block body_content_additional %}
<div id="files" class="row">
        {% for file in files['files'] %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">{{file[0]}}</div>
                <div class="card-body">
                    <img class="image-style" src="/api/files/{{file[1]}}" alt="{{file[0]}}" />
                </div>
                <div class="card-footer">
                    <input app="{{file[1]}}" class="btn btn-secondary btn-sm" type="button" value="Launch"/>
                    <input app="{{file[1]}}" class="btn btn-secondary btn-sm" type="button" value="Launch Locally"/>
                </div>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock body_content_additional %}

{% block body_footer_additional %}
{% endblock body_footer_additional %}


{% block body_scripts_additional %}
    <script src="{{ url_for('static', filename='js/ui-logic.js')}}"></script>
    <script src="{{ url_for('static', filename='js/post-ajax.js')}}"></script>
    <script src="{{ url_for('static', filename='js/ajax.js')}}"></script>
    <script src="{{ url_for('static', filename='js/events.js')}}"></script>
    <script src="{{ url_for('static', filename='js/react-ui-logic.js')}}"></script>
{% endblock body_scripts_additional %}
