/*START OF HOMEPAGE BUTTON SETTINGS*/
.homeSection {
    float: left;
    width: 40%;
    height: 14em;
    position: relative;
    text-align: center;
    font-size: 100%;
    border-style: solid;
    border-width: .2em;
    color: rgba(0, 232, 255, .69); /*#00E8FF*/
    background: rgba(19, 21, 21, .6);
}
/*END OF HOMEPAGE BUTTON SETTINGS*/

.lnkStyl {
    clear: right;
    float: left;
    border-style: solid;
}
.imgsStyl {
    clear: both;
    float: left;
    opacity: 0.699999988079071044921875;
    width: 20%;
    height: 15em;
}
.imgsStyl:hover {
    opacity: 1;
}
.header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
}
.lnksNdirs {
    width: 20%;
    float:left;
}
/* used to format sections of pgs*/
.section, .lnksNdirs, .header {
    clear: both;
    position: relative;
    text-align: center;
    padding-top: 1em;
    margin-top: 1em;
    font-size: 100%;
    background: rgba(19, 21, 21, .6);
    background: rgba(19, 21, 21, .7);
    color: rgba(0, 232, 255, .69); /*#00E8FF*/
/*  border-style: solid;
    border-width: .2em;
*/
}
.backbutton {
    top: 3em;
    clear: both;
    z-index: 2;
    position: fixed;
    float: left;
    width: 5%;
    height: 55px;
    opacity: .8;
}
.ifrmbutton2 {
    top: 3em;
    float: right;
    right: .5em;
    z-index:2;
    position: fixed;
    width: 5%;
    height: 30px;
    opacity: .6;
}
iframe {
    margin-left: 2%;
    z-index: 2;
    position: fixed;
    top: 8em;
    right: 0.534em;
    bottom: 2%;
    width: 75%;
    height: 525px;
    background: rgba(0,0,0,.5)
    transition: 0s;
    transition-delay:2s;
}
iframe:hover {
    height: 775px;
    transition-delay:2s;
}
#bg {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
