{% block file_modal %}
<!-- File viewer modal -->
<div class="modal fade" id="file-view-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>File Viewer:</h3>
                <button id="previousVideoInPlaylist" class="btn btn-dark btn-sm">Previous</button>
                <span id="selectedFile"></span>
                <button id="nextVideoInPlaylist" class="btn btn-dark btn-sm">Next</button>
                <button id="close-file-modal-btn" class="btn btn-danger btn-sm" type="button" data-bs-dismiss="modal">Close</button>
            </div>

            <div class="modal-body text-center justify-content-center">
                <div class="row">
                    <div class="col scroller" style="max-height: 70vh; overflow: auto;">
                        <!-- For video -->
                        <div id="video-container">
                            <div id="video_container" class="jp-video " role="application" aria-label="media player">
                                <div class="jp-type-single">
                                    <div id="video" class="jp-jplayer"></div>
                                    <div class="jp-gui">
                                        <div class="jp-video-play">
                                            <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
                                        </div>
                                        <div class="jp-interface">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div class="jp-play-bar"></div>
                                                </div>
                                            </div>
                                            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                            <div class="jp-details">
                                                <div class="jp-title" aria-label="title">&nbsp;</div>
                                            </div>
                                            <div class="jp-controls-holder">
                                                <div class="jp-volume-controls">
                                                    <button class="jp-mute" role="button" tabindex="0">mute</button>
                                                    <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                                    <div class="jp-volume-bar">
                                                        <div class="jp-volume-bar-value"></div>
                                                    </div>
                                                </div>
                                                <div class="jp-controls">
                                                    <button class="jp-play" role="button" tabindex="0">play</button>
                                                    <button class="jp-stop" role="button" tabindex="0">stop</button>
                                                </div>
                                                <div class="jp-toggles">
                                                    <!-- <button class="jp-repeat" role="button" tabindex="0">repeat</button> -->
                                                    <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-no-solution">
                                        <span>Update Required</span>
                                        To play the media you will need to either update your browser to a recent version or update your
                                        <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                    </div>
                                </div>
                            </div>

                            <iframe id="trailerPlayer"
                                width="560" height="315"
                                style="display: none;"
                                src=""
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen="allowfullscreen"
                                mozallowfullscreen="mozallowfullscreen"
                                msallowfullscreen="msallowfullscreen"
                                oallowfullscreen="oallowfullscreen"
                                webkitallowfullscreen="webkitallowfullscreen">
                            </iframe>

                            <!-- For image -->
                            <img id="image-viewer" class="card-img-top viewer"
                                style="display: none;"
                                src="" alt="" />

                            <!-- For pdf -->
                            <iframe id="pdf-viewer" class="card-img-top viewer"
                                src=""
                                style="display: none;"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen="allowfullscreen"
                                mozallowfullscreen="mozallowfullscreen"
                                msallowfullscreen="msallowfullscreen"
                                oallowfullscreen="oallowfullscreen"
                                webkitallowfullscreen="webkitallowfullscreen">
                            </iframe>

                            <!-- For text -->
                            <pre id="text-viewer" class="card-img-top viewer"
                                style="display: none;">
                            </pre>

                            <!-- For GBA JS Emulator -->
                            <div  id="gbajs-viewer" class="card-img-top viewer"
                                style="display: none;">
                                <canvas id="screen" width="720" height="480"></canvas>
                                <section id="controls">
                                    <div id="preload">
                                        <button class="bigbutton" id="select" onclick="document.getElementById('loader').click()">SELECT</button>
                                        <input id="loader" type="file" accept=".gba" onchange="run(this.files[0]);">
                                        <button onclick="document.getElementById('saveloader').click()">Upload Savegame</button>
                                        <input id="saveloader" type="file" onchange="uploadSavedataPending(this.files[0]);">
                                    </div>
                                    <div id="ingame" class="hidden">
                                        <button id="pause" class="bigbutton" onclick="togglePause()">PAUSE</button>
                                        <button class="bigbutton" onclick="reset()">RESET</button>
                                        <button onclick="gba.downloadSavedata()">Download Savegame</button>
                                        <button onclick="screenshot()">Screenshot</button>
                                        <label id="pixelated">
                                            <input type="checkbox" onchange="setPixelated(this.checked)">
                                            <p>Pixelated</p>
                                        </label>
                                        <div id="sound">
                                            <input type="checkbox" checked onchange="gba.audio.masterEnable = this.checked">
                                            <p>Sound</p>
                                            <input type="range" min="0" max="1" value="1" step="any" onchange="setVolume(this.value)" oninput="setVolume(this.value)">
                                        </div>
                                        <p id="openDebug" onclick="enableDebug()">Debugger</p>
                                    </div>
                                </section>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="col-md-8">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-auto">
            </div>
        </div>

    </div>
</div>
{% endblock file_modal %}
