{% block options_modal %}
<!-- Other Options modal -->
<div class="modal fade" id="options-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Settings:</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col scroller" style="max-height: 30em; overflow: auto;">

                        <!-- <center>
                            <form>
                                <input class="ulFile" type="file" title="files To Upload" name="filesToUpload[]" data-bs-multiple-caption="{count} files selected" multiple />
                                <input type="button" onclick="uploadFiles()" name="UploadFiles" title="Upload File(s)" value="Upload File(s)" />
                                <input type="reset" title="Clear" id="CLEARBTTN" value="Clear" style="display:none;">
                                <input type="text" id="DIRPATHUL" name="DIRPATHUL" value="">
                            </form>
                            <br/>
                            <input type="text" id="NewItem" value=""/>
                            <input type="button" value="New Dir" onclick="createItem('dir')"/>
                            <input type="button" value="New File" onclick="createItem('file')"/>
                            <input type="button" value="Show Server Messages" onclick="tgglElmView('serverMsgView')"/>
                            <br/>
                            <input id="MergeType" type="checkbox" onchange="getDir('./')" />
                            <label for="MergeType">Show seassons in same list.</label>
                        </center> -->

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-danger btn-sm">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock options_modal %}
