<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center text-center fixed-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerFooter" aria-controls="navbarTogglerFooter"
                aria-expanded="false" aria-label="Toggle Footer Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarTogglerFooter" class="row collapse navbar-collapse">
        <div class="col col-lg-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span id="currentDirectory">{{path}}</span>
                </li>
            </ul>
        </div>
    </div>
</nav>
