<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="dark">
{% block header %}
<head>
    {% block header_meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index,follow">
        {% block header_meta_additional %}
        {% endblock header_meta_additional %}
    {% endblock %}

    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>{{TITLE}}</title>
    {% endif %}

    {% block header_css %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap5/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons/bootstrap-icons.css')}}">

        <!-- Site CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/context-menu.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/overrides.css')}}">
        {% block header_css_additional %}
        {% endblock header_css_additional %}
    {% endblock %}


    {% block header_scripts %}
        {% block header_scripts_additional %}
        {% endblock header_scripts_additional %}
    {% endblock %}
</head>
{% endblock %}
<body>
    <video id="bg" src="" poster="" autoplay loop> </video>

    <div class="menu">
        <ul class="menu-options">
            <li class="menu-option" onclick="goUpADirectory()">Back</li>
            <li class="menu-option" onclick="goHome()">Home Directory</li>
            <li class="menu-option" onclick="downloadItem()">Download</li>
            <li class="menu-option" onclick="deleteItem()">Delete</li>
        </ul>
    </div>

    {% block body_header %}
        {% include "body-header.html" %}

        {% block body_header_additional %}
        {% endblock body_header_additional%}
    {% endblock %}


    <div id="master-container" class="container scroller">
        <!-- System flashed messages! -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="row page-alert-zone-container">
            <div id="page-alert-zone" class="col">
            </div>
        </div>
        {% block body_content %}
                {% block body_content_additional %}
                {% endblock body_content_additional%}
        {% endblock %}


        {% block body_footer %}
            {% include "body-footer.html" %}

            {% block body_footer_additional %}
            {% endblock body_footer_additional%}
        {% endblock %}
    </div>



    {% include "modals/backgrounds-modal.html" %}
    {% include "modals/options-modal.html" %}
    {% include "modals/favorites-modal.html" %}
    {% include "modals/file-modal.html" %}



    {% block body_scripts %}
        <!-- For internal scripts... -->
        <script src="{{ url_for('static', filename='js/libs/jquery-3.6.0.min.js')}}"></script>

        <!-- For Bootstrap in this exact order... -->
        <script src="{{ url_for('static', filename='js/libs/bootstrap5/bootstrap.bundle.min.js')}}"></script>

        <!-- For React -->
        <script src="{{ url_for('static', filename='js/libs/babel.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/libs/react/react.production.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/libs/react/react-dom.production.min.js')}}"></script>

        <!-- DASH JS -->
        <script src="{{ url_for('static', filename='js/libs/dash.all.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/libs/js.cookie.js')}}"></script>

        <!-- Application Imports -->
        {% block body_scripts_additional %}
        {% endblock body_scripts_additional%}

        <script src="{{ url_for('static', filename='js/libs/cookie-manager.js')}}"></script>
        <script src="{{ url_for('static', filename='js/libs/color-mode-toggler.js')}}"></script>
        <script src="{{ url_for('static', filename='js/webfm/context-menu.js')}}"></script>
        <script src="{{ url_for('static', filename='js/webfm/backgrounds-manager.js')}}"></script>
    {% endblock %}
</body>
</html>
