#ctxDownload,
#img2Tab {
    display: none;
}

.menu {
    width: 165px;
    z-index: 999;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.64);
    position: fixed;
    display: none;
    transition: 0.2s display ease-in;
}

.menu .menu-options {
    list-style: none;
    z-index: 1;
    padding: unset !important;
    margin: unset !important;
}

.menu .menu-options .menu-option {
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.menu .menu-options .menu-option:hover {
    background: rgba(255, 255, 255, 0.64);
    color: rgba(0, 0, 0, 0.5);
}

button {
    background: grey;
    border: none;
}

button .next {
    color: green;
}

button[disabled="false"]:hover .next {
    color: red;
    animation: move 0.5s;
    animation-iteration-count: 2;
}

@keyframes move {
    from {
        transform: translate(0%);
    }
    50% {
        transform: translate(-40%);
    }
    to {
        transform: transform(0%);
    }
}
